<section class="footerWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-1 order-2">
        <a routerLink="/">
          <img
            src="../assets/images/logo.png"
            alt="Example image"
            class="img-fluid logoFooter"
            width="100"
          />
        </a>
        <div class="socialIconWrapper">
          <p>Follow Us</p>
          <div class="d-flex gap-4">
            <a href="https://www.youtube.com/" target="_blank">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="http://facebook.com" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://in.aedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 order-md-2 order-1">
        <div class="row">
          <div class="col-md-4">
            <h4 class="footerHeading">Helpful as</h4>
            <ul class="listItemList">
              <li>
                <a routerLink="/">Weather A</a>
              </li>
              <li>
                <a routerLink="/">RSA</a>
              </li>
              <li>
                <a routerLink="/">My Account</a>
              </li>
              <li>
                <a routerLink="/">Gift Cards</a>
              </li>
              <li>
                <a routerLink="/">123.ie</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="footerHeading">Our Network</h4>
            <ul class="listItemList">
              <li>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="/">Weather</a>
              </li>
              <li>
                <a routerLink="/">News</a>
              </li>
              <li>
                <a routerLink="/">Contact</a>
              </li>
              <li>
                <a routerLink="/">Help</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="footerHeading">Support</h4>
            <ul class="listItemList">
              <li>
                <a routerLink="/">Contact Us</a>
              </li>
              <li>
                <a routerLink="/">Developers</a>
              </li>
              <li>
                <a routerLink="/">Documentation</a>
              </li>
              <li>
                <a routerLink="/">Integrations</a>
              </li>
              <li>
                <a routerLink="/">Reports</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyRightRow">
      <div class="col p-0">
        <p class="copyRightString">Weather App 2025. All rights reserved.</p>
      </div>
      <div class="col-auto p-0">
        <ul class="termConditionListing">
          <li>
            <a routerLink="/">Term</a>
          </li>
          <li>
            <a routerLink="/">Privacy </a>
          </li>
          <li>
            <a routerLink="/">Contact</a>
          </li>
          <li>
            <a routerLink="/">
              <i class="fa fa-globe"></i>
              EN
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
