/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "./assets/scss/variable.scss";
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}
h2.feature-heading {
  font-size: 24px;
  font-weight: 500;
}
.btn-simple {
  font-size: 16px;
  color: var(--black-17);
  border-radius: 1px solid var(--tertiary-1);
  transition: 0.3s ease;
  background: none;
  border: none;
  &:hover {
    color: var(--tertiary-1);
  }
}
.btn-theme {
  font-size: 16px;
  background: var(--tertiary-1);
  color: var(--white-10);
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--tertiary-1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: 0.3s ease;
  &:hover {
    color: var(--tertiary-1);
    background: var(--white-10);
  }
  &:disabled {
    opacity: 0.5;
  }
  &.secondary {
    background: var(--black-10);
    border-color: var(--black-10);
  }
  &-icon {
    width: 40px;
    height: 40px;
  }
  &.border-r-50 {
    border-radius: 50%;
  }
}
.paddingBoth {
  padding: 60px 0;
}
